humble_ws/build
humble_ws/install
humble_ws/log
jazzy_ws/build
jazzy_ws/install
jazzy_ws/log
build_ws/jazzy
build_ws/humble
.vscode/
**/.*.pyc
__pycache__/

###
jazzy_ws/dep-pkgs.txt
jazzy_ws/dep-pkgs-to-install.txt
jazzy_ws/isaacsim_ros2_jazzy_backup.tar.zst
